<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Exposant</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar [(ngModel)]="keyword" (ionInput)="searchExposant()"></ion-searchbar>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Exposant</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="light" *ngFor="let exposant of exposants" (click)="goToExposantDetails(exposant)">
    <ion-card-header>
      <ion-card-title>{{ exposant.nom }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ exposant.localisation }}</ion-card-content>
  </ion-card>

</ion-content>
