<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Home</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <ion-card-content>
        <h3 style="text-align: center;">Explorez le monde du savoir avec notre application  !!!</h3>
        <br>
        <div class="text-block">
          <p>
            Bienvenue au Salon du Livre ! Notre application mobile est conçue pour être votre guide ultime lors
            de cet événement littéraire passionnant. Découvrez toutes les informations essentielles sur les
            auteurs, les séances de dédicaces, les conférences et les nouveautés littéraires.
            <br>
            Plan interactif : Naviguez facilement dans le salon grâce à notre plan interactif.
            Trouvez les stands de vos auteurs préférés et les différents espaces thématiques.
            <br>
            <br>
            Programme complet : Consultez le programme complet du salon avec les horaires des dédicaces,
            des conférences et des ateliers. Ajoutez vos événements préférés à votre agenda personnalisé.
            <br>
            Découvrez les auteurs : Parcourez la liste complète des auteurs présents au salon. Consultez leur
            biographie et les livres qu'ils présenteront.
            <br>
            Réservez vos places : Pour les conférences et les ateliers à capacité limitée, réservez vos
            places directement depuis l'application pour ne rien manquer.
            <br>
            <br>
            Notifications en temps réel : Recevez des notifications en temps réel pour les événements
            spéciaux, les changements de programme et les offres spéciales du salon.
            <br>
            <br>
            Partagez vos moments : Prenez des photos et partagez vos meilleurs moments du salon avec notre
            fonction de partage intégrée.
            <br>
            Téléchargez dès maintenant notre application mobile et préparez-vous à vivre une expérience
            inoubliable au Salon du Livre !
          </p>
          <br>
          <br>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="text-block">

              <p>Pour plus d'information visitez notre site web:
                <a href="https://siel.ma/fr/accueil/" target="_blank">SIEL.ma</a></p>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
